anyio==4.9.0
argcomplete==2.0.0
attrs==22.2.0
Babel==2.10.3
backports.tarfile==1.2.0
blinker==1.5
build==1.2.2.post1
CacheControl==0.14.2
certifi==2022.9.24
cffi==1.17.1
chardet==5.1.0
charset-normalizer==3.0.1
cleo==2.1.0
click==8.1.3
colorama==0.4.6
crashtest==0.4.1
cryptography==38.0.4
dbus-python==1.3.2
distlib==0.3.9
distro==1.8.0
dulwich==0.22.8
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
ghp-import==2.1.0
h11==0.14.0
httpcore==1.0.8
httplib2==0.20.4
httpx==0.28.1
idna==3.3
importlib_metadata==8.6.1
iniconfig==1.1.1
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
Jinja2==3.1.2
joblib==1.2.0
keyring==25.6.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
livereload==2.6.3
lunr==0.6.2
Markdown==3.4.1
MarkupSafe==2.1.2
mergedeep==1.3.4
more-itertools==8.10.0
msgpack==1.1.0
nltk==3.8
numpy==1.24.2
oauthlib==3.2.2
olefile==0.46
packaging==23.0
pbs-installer==2025.4.9
pkginfo==1.12.1.2
platformdirs==4.3.7
poetry-core==2.1.2
pycparser==2.22
pyparsing==3.2.3
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
RapidFuzz==3.13.0
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
SecretStorage==3.3.3
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1
trove-classifiers==2025.4.11.15
typing_extensions==4.13.2
urllib3==2.4.0
virtualenv==20.30.0
wadllib==2.0.0
zipp==3.21.0
zstandard==0.23.0
